{% extends "bootstrap/base.html" %}
{% block title %}OMedia Home{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">OMedia</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <h1>OMedia Social Media</h1>
    <p class="lead">OMedia is a small social media made in a night to fork and extend for the <a
            href="https://switcher.me">Switcher.me</a> project. You can find the source code for this website <a
            href="https://gitlab.com/scOwez/omedia" target="_blank"><b>here</b></a>.</p>
    <hr>
    <div class="vert-split">
        <div>
            <h3 style="text-align:center;">Register</h3>
            {% include 'misc_register.html' %}
        </div>
        <div class="vert-bar"></div>
        <div>
            <h3 style="text-align:center;">Login</h3>
            {% include 'misc_login.html' %}
        </div>
    </div>
</div>
{% endblock %}