<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<div class="input-wrapper">
    <div class="input-inner-margin">
        <form method="post">
            {{ usr_register_form.hidden_tag() }}
            {{ usr_register_form.username.label }}{{ usr_register_form.username() }}
            <div class="input-spacer"></div>
            {{ usr_register_form.email.label }}{{ usr_register_form.email() }}
            <div class="input-spacer"></div>
            {{ usr_register_form.password.label }}{{ usr_register_form.password() }}
            <div class="input-spacer"></div>
            <input type="submit" value="Register!" class="submit-button">
        </form>
    </div>
</div>