input {
    width: 15rem;
}

.input-spacer {
    margin-top: 0.5rem;
}

.submit-button {
    text-align: center;
}

.input-wrapper {
    width: 16rem;
    background-color: #e6e6e6;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-inner-margin {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}