.container {
    margin-top: 1rem;
}

.vert-bar {
    background: #b6bcc2;
    width: 1px;
    border-radius: 1rem;
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.vert-split {
    display: flex;
    justify-content: center;
}